{% extends 'base.html' %} {% block content %}

<h1>{{ university.name }}</h1>
<div class="card">
  <div class="card-content">
    <p>{{ university.description }}</p>
    <p>Location: {{ university.location }}</p>
    <p>University Website: {{ university.website_link }}</p>
    <p>Email: {{ university.email }}</p>
    <p>Phone Number: {{ university.phone }}</p>
    {% load static %}
    <div class="img-container">
      <img
        class="img"
        src="{% static university.image|cut:'main_app/static' %}"
        alt="uni img"
      />
    </div>
  </div>
</div>
<h2>Filter by Level</h2>
<div class="filters">
  <a href="?">All</a>
  {% for lvl in levels %}
    <a href="?level={{ lvl }}">
      {{ lvl }}
    </a>
  {% endfor %}
</div>

<div class="program-content">
  <h1>Programs</h1>
  {% for program in programs %}
  <a href="{% url 'program_detail' university.id program.id %}">
    <div class="card">
      <div class="card-content">
        <h2 class="program-name">{{program.name}}</h2>
        <p>Level: {{program.level}}</p>
        <p>
          Decsription: <br />
          {{program.description}}
        </p>
      </div>
    </div>
  </a>
  <form
    action="{% url 'toggle_favorite_program'  university.id program.id %}"
    method="POST"
  >
    {% csrf_token %} {% if request.user in program.users_favorited.all %}

    <input type="submit" class="btn" value="❤️" />
    {% else %}
    <input type="submit" class="btn" value="🤍" />
    {% endif %}
  </form>
  {% endfor %}
</div>

{% endblock %}
