{% extends 'base.html' %} {% block content %}
 <div class="chat-container">
        <div class="header">
            <h1>M-Hub 💬</h1>
            <p>connect and discover in real time.</p>
        </div>
        
        <div id="chat-log">
            <div class="empty-state">
                
            </div>
        </div>
        
        <div class="input-container">
            <input
                id="chat-message-input"
                type="text"
                placeholder="Type your message..."
                autocomplete="off"
            />
            <input
                id="chat-message-submit"
                type="button"
                value="Send"
            />
        </div>
    </div>


<script>
  const username = '{{ username }}' 
  const chatLog = document.querySelector('#chat-log')
  const messageInput = document.querySelector('#chat-message-input')

  const chatSocket = new WebSocket(

    (window.location.protocol === "https:" ? "wss://" : "ws://") 
    + window.location.host 
    + "/ws/main_app/"
  )

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data)
    chatLog.innerHTML += `<div><b>${data.username}:</b> ${data.message}</div>`
    chatLog.scrollTop = chatLog.scrollHeight 
  }

  messageInput.focus()

  messageInput.onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click()
    }
  }

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const message = messageInput.value
    chatSocket.send(
      JSON.stringify({
        message: message,
        username: username
      })
    )
    messageInput.value = ''
  }
</script>
{% endblock %}
