{% extends 'base.html' %} {% block content %}
<div
  id="chat-log"
  style="border: 1px solid #ccc; height: 300px; overflow-y: auto; padding: 5px"
></div>
<input id="chat-message-input" type="text" size="100" />
<input id="chat-message-submit" type="button" value="Send" />

<script>
  const username = '{{ username }}' // passed from Django
  const chatLog = document.querySelector('#chat-log')
  const messageInput = document.querySelector('#chat-message-input')

  const chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/main_app/'
  )

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data)
    chatLog.innerHTML += `<div><b>${data.username}:</b> ${data.message}</div>`
    chatLog.scrollTop = chatLog.scrollHeight // auto-scroll
  }

  messageInput.focus()

  messageInput.onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector('#chat-message-submit').click()
    }
  }

  document.querySelector('#chat-message-submit').onclick = function (e) {
    const message = messageInput.value
    chatSocket.send(
      JSON.stringify({
        message: message,
        username: username
      })
    )
    messageInput.value = ''
  }
</script>
{% endblock %}
