#edit-profile-page {
    width: 100%;
    max-width: 480px;
    background: #fff;
    border-radius: 30px; 
    padding: 50px 40px;
    margin: 60px auto; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); 
    border: 1px solid var(--navbar-footer);
    text-align: left; 
}

#profile-title {
    color: var(--heading);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

#profile-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.field{
    margin: 20px 0;
}

.field label {
    display: block;
    font-weight: 600;
    color: var(--heading);
    margin-bottom: 8px;
}

.field input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #ccc; 
    border-radius: 30px; 
    font-size: 15px;
    outline: none;
    color: var(--text);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.field input:focus {
    border-color: var(--primary-btn);
    box-shadow: 0 0 0 3px rgba(165, 216, 165, 0.2);
}

#toggle-password-link {
    color: var(--primary-btn);
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

#save-btn {
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: var(--primary-btn);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#save-btn:hover {
    background-color: var(--secondary-btn);
}

#save-btn,
#cancel-btn {
    display: block;
    width: 100%;
    max-width: 360px;
    text-align: center;
    margin: 10px auto; 
}

#cancel-btn {
    display: inline-block;
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 14px;
    border-radius: 30px;
    border: 1px solid var(--primary-btn);
    color: var(--primary-btn);
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#cancel-btn:hover {
    background-color: var(--primary-btn);
    color: white;
}
